/* Write your code here. */
.container {
  background-color: white;
  background-size: auto;
  font-family: 'Roboto';
  padding: 36px;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 767px) {
  .container {
    padding-top: 15%;
  }
}

.main-image {
  width: 100%;
}

.dark-font {
  color: #1e293b;
}

.light-font {
  color: #64748b;
}

.pics-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
